//-
    Template for list of results page - to be inserted in html
    Templating Language - PugJS
    Author - Gautam Ramasubramanian

ul(id="results")
    each item in data
        li
            a(href=item.infolink)
                img(src=item.thumbnail) 
                div
                    h1=item.title
                    h2=item.authors
                    p=item.publisher
div(id="change-page")
    button(id="prev") Previous Page
    button(id="next") Next Page
